*{
    margin: 0;
    padding: 0;
}
.logo{
    
    width: 100px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 115px;
    height: 42px;
    border:1px solid #0f0f0f;
    border-radius: 12px;
}

.navbar{
    display: flex;
    
}
.navlist{
    width: 50%;
    display: flex;
    /* background-color: black; */
    justify-content: center;
    align-items: center;

}
.navlist li{
    list-style: none;
    padding: 15px;

}
.navlist li a{
    text-decoration: none;
    color: white;
}
.navlist li a:hover{
    text-decoration: none;
    color: rgb(185, 69, 69);
}
.rightnav{
    width: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search{padding: 8px;

}
#background{
    background: rgba(0, 0, 0, 0.7) url("bg.jpeg");
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{display: flex;
    justify-content: center;
    align-items: center;

}
.firsthalf{
 height: 211px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.sechalf{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    width: 251px;
    height: 237px;
    border-radius: 54px;
    padding: 1px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url("bg.jpeg");
    background-size: cover;
    background-blend-mode: darken;
    height: 1000px
}
.text-big{
    color: white;
    font-size: 39px;
   

}
.text-small{color: white ;
    padding: 10px;
    font-size: 15px;

}
.first-section{
    height: 100vh;
}
.buttons{
    padding: 5px;
}
.btn{
    border: 2px solid white;
    margin: 5px;
    border-radius: 2px;
  
}
.btn-sm{
    padding: 7px;
}
.section2{
    display: flex;
    align-items: center;
    padding: 70px;
}
.text-big2{
    color: black;
    font-size: 40px;
    padding: 0px; 98px
   
}
.section3{
    display: flex;
    flex-direction: row-reverse;
}
.sec3para{
    padding: 5px;
}

.contact{
    background: cornsilk;
    height: 34vh;
}
.contact-h1{
    text-align: center;
}
.input{
    margin: auto;
    max-width: 178px;
    padding-top: 10px;
}
.inputcl{
    width: 235px;
}
.contact1{
    height: 10vh;
}
.contact2{
    height: 10vh;
}
.cont{
    margin: 0px 418px;
}
#text{
    margin: 0px 315px;
}
.btn2{
    margin: 0px 412px;
}